@model Ventas.Web.Data.Entities.Pedido

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrdenFecha" class="control-label"></label>
                <input asp-for="OrdenFecha" class="form-control" />
                <span asp-validation-for="OrdenFecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryFecha" class="control-label"></label>
                <input asp-for="DeliveryFecha" class="form-control" />
                <span asp-validation-for="DeliveryFecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

